body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: grey;
}

/* Panel Animations */
.panel {
    opacity: 0;
    display: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.4s ease;
}