body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: grey;
}

/* Nav Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}

ul li a:hover {
  background-color: #111111;
}

/* Page Switch Animations */
